$dark-blue: hsl(209, 23%, 23%); // Dark Mode Elements
$darker-blue: hsl(209, 23%, 20%);
$very-dark-blue: hsl(207, 26%, 15%); // Dark Mode Background
$most-dark-blue: hsl(200, 15%, 8%); // Light Mode Text
$dark-gray: hsl(0, 0%, 52%); // Light Mode Input
$light-gray: hsl(0, 0%, 72%);
$lighter-gray: hsl(0, 0%, 92%);
$very-light-gray: hsl(0, 0%, 96%); // Light Mode Background
$white: hsl(0, 0%, 100%); // Dark Mode Text & Light Mode Elements
$shadow-black: hsla(0, 0%, 0%, 0.25);
